
.boxes * {
    box-sizing: border-box;
}

.one-half {
    width: 50%;
    float: left;
    background-color: red;
    box-sizing: border-box;
    border: black 1px solid;

}
.one-third {
    width: 33.333333333%;
    height: 10%;
    background-color: blue;
    box-sizing: border-box;
    border: black 1px solid;
    float: left;

}
.one-fourth {
    width: 25%;
    height: 10%;
    background-color: yellow;
    box-sizing: border-box;
    border: black 1px solid;
    float: left;

}
.one-sixth {
    width: 12.5%;
    height: 10%;
    background: purple;
    box-sizing: border-box;
    border: black 1px solid;
    float: left;

}
.one-eighth {

    height: 10%;
    background-color: green;
    box-sizing: border-box;
    border: black 1px solid;
    float: left;
}
.half-row {
    width: 100%;



}
.third-row {
    width: 100%;
}
.quarter-row {
    width: 100%;
}
.sixth-row {
    width: 100%;
}
.eighth-row {
    width: 100%;
}
/******************************************************/
@media screen and (max-width:768px) {


    .one-half {
        width: 100%;


    }
    .one-third {
        width: 100%;


    }
    .one-fourth {
        width: 100%;


    }
    .one-sixth {
        width: 100%;


    }






}





