@media screen and (min-width:768px) {

    .alert-info-hidden-on-desktop {
        visibility: hidden;
    }
    h1 {
        position: relative;
        float: left;
    }
    .nav-links {
        position: relative;
        float: right;
        clear: right;
    }
    .nav-links>li {
        list-style-type: none;
        float: left;
        margin: 5px;
    }
    .header-img {
        position: relative;
        clear: both;
    }
    .header-img>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 385px;
        width: 890px;
    }
    .main {
        float: left;
        width: 50%;
    }
    .sub-section {
        float: left;
        width: 50%;
    }
    footer>p {
        position: absolute;
        bottom: 25px;
        left: 10px;
    }
    #social-media-links {
        position: relative;
        float: right;
    }
}

/**********************************************************************/
body {
    font-family: Helvetica, Tahoma, sans-serif;
}
.alert-info-hidden-on-desktop {
    width: 100%;
    padding: 5% 0 5% 0;
    background-color: #D6FEFE;
    border: 1px solid grey;

}
.alert-info-hidden-on-desktop>a {
    margin-left: 30%;
    text-decoration: none;
    color: #000;
}
h1 {
    text-align: center;


}
.nav-links {
    text-align: center;
    padding: 0;
    white-space: pre-line;

}

.nav-links>li {
    list-style-type: none;
    padding: 5% 0 5% 0;

    background-color: #C8C9CB;
}
.header-img {
    position: relative;
    clear: both;
}
.header-img>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 224px;
    width: 339px;
}
.main {
    float: left;
    width: 50%;
}
.sub-section {
    float: left;
    width: 50%;
}
footer>p {

}
#social-media-links {
    position: relative;
    float: right;
}


