
body {
    font-family: Helvetica, Tahoma, sans-serif;
}
body>a {
    text-decoration: none;
}
.alert-info-hidden-on-desktop {
    text-align: center;
    width: 100%;
    padding: 5% 0 5% 0;
    background-color: #C8C9CB;
    color: #000;
    font-weight: bold;

}

#main {
    text-decoration: none;
}

h1 {
    text-align: center;
}
.nav-links {
    text-align: center;
    padding: 0;
}

.nav-links li {
    list-style-type: none;
    margin-bottom: 2%;
    padding: 5% 0 5% 0;
    background-color: #C8C9CB;
}
.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.header-img {
    position: relative;
    clear: both;
}
.header-img>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 224px;
    width: 100%;
}
.main {
    width: 100%;
}
.sub-section {
    width: 100%;
}
footer>p {
    float: left;
}
.social {
    width: 8%;
    height: 8%;
    position: relative;
    float: right;
}

/**********************************************************************/
@media screen and (min-width:768px) {

    .alert-info-hidden-on-desktop {
        display: none;
    }
    h1 {
        position: relative;
        float: left;
    }
    .nav-links {
        text-align: right;
        padding: 10px;
        position: relative;
        float: right;
    }
    .nav-links li {
        list-style-type: none;
        text-align: left;
        float: left;
        margin: 0;
        margin-left: 10px;
        background-color: #ffffff;
        text-decoration: none;
        color: #000;
    }



    .header-img {
        position: relative;
        clear: both;
    }
    .header-img>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 385px;
        width: 890px;
    }
    .main {
        float: left;
        width: 70%;
    }
    .sub-section {
        float: left;
        width: 30%;
    }
    footer>p {
        position: absolute;
        bottom: 25px;
        left: 10px;
    }
    #social-media-links {
        position: relative;
        float: right;
    }
}





