body {
    background-color: blanchedalmond;
    background-image: url("https://images.pexels.com/photos/690303/pexels-photo-690303.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    font-family: Arial, Helvetica, sans-serif;

}

body image {
    width: auto;
    height: auto;
}

header {
    text-align: center;
    color: purple;
    text-decoration-line: underline;
}



ul li {
    list-style-image: url("https://findicons.com/files/icons/1620/crystal_project/19/line_arrow_end.png");
}

li {
    background: antiquewhite;
    width: 20%;
    opacity: .3;
}





table {
    background-color: antiquewhite;
}

tr th {
    font-size: 1.2em;

}
tr td {
    padding-right: 50px;
    padding-top: 20px;
}

a:link {
    background-color: chartreuse;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    background-color: darkgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: yellow;
    color: #000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:active {
    background-color: #696969;
    color: lightgoldenrodyellow;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h2 {
    background-color: #696969;
    width: 100%;
}

#tm {
    background: antiquewhite;
    width: 20%;
}