body {
    background-color: blanchedalmond;
    background-image: url("https://images.pexels.com/photos/690303/pexels-photo-690303.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    font-family: Arial, Helvetica, sans-serif;
}

body image {
    width: auto;
    height: auto;
}

header {
    text-align: center;
    color: purple;
    text-decoration-line: underline;
}

ul li {
    list-style-image: url("https://findicons.com/files/icons/1620/crystal_project/19/line_arrow_end.png");
}

table {
    background-color: antiquewhite;
}

tr th {
    font-size: 1.2em;

}
tr td {
    padding: 25px;
}
