body {
    font-family: 'Trebuchet MS' ,verdana, sans-serif;
    width: 90%;
    display: flex;
    justify-content: space-evenly
}
.wrapper {
    display: flex;
    width: 95%;
    align-items: stretch;
}
.wrapperPart{
    box-sizing: border-box;
    width: 100%;
}
.header {
    background-color: black;
    color: white;
    height: 100%;
    min-width: ;
    display: flex;
    flex-direction: column;
}
.nav-bar {
    align-items: stretch;
    flex-flow: nowrap;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    padding: 10px;

}
.menu {
    color: firebrick;
    font-weight: bold;
}
.body {
    margin-left: 5%;
}
.body h1 {
    color: darkgreen;
}
.content {
    bottom: 390px;
    left: 400px;
    color: firebrick;
    font-weight: bold;
}
.row {
    display: flex;
}

#a {
    text-decoration: none;
}
.logo {
    flex: 1;
    margin-left: 10%;

}
#hr {
    width: 90%
}

#col-1 {
    flex: 2;
}

#col-2 {
    flex: 1;
}