body {
    font-family: roboto, "Trebuchet MS", sans-serif;
    background-color: #E8E8EE ;
    margin: 0;
}
#map-canvas {
    height: 60vh;
    width: 100%;
}
#outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#name-box {
    padding: 5%;
    width: 90%;
    font-size: 22px;
    font-weight: bold;
    justify-items: center;
}
.inner-wrapper {
    color: #878787;
    width: 30%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #D5D3D2;
    padding-left: 10px;
}
.type-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.type {
    font-weight: bold;
    color: #000;
}
.temp {
    font-weight: bold;
    font-size: 20px;
}
#image1 {
    height: 50px;
    width: 50px;
}