body {
    font-family: "Trebuchet MS", sans-serif;
}
#map-canvas {
    height: 50vh;
    width: 100%;
}

#outer-wrapper {
/
width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#name-box {
    margin-top: 10px;
    flex: 1 0 100%;
    width: 90%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    align-content: center;
    justify-content: center;
}
.inner-wrapper {
    color: #878787;
    margin-top: 10px;
    width: 30%;
    height: 100px;
    border: 1px solid #878787;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.type-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.type {
    font-weight: bold;
    color: #000;
}
.temp {
    font-weight: bold;
    font-size: 20px;
}


